body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
}

#heading {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 45px;
    font-family: 'Fredoka One';
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}

#whatWeDo {
    font-family: 'Dosis';
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

#whatWeDo {
    padding-bottom: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 15px;
}


h3 {
    padding-bottom: 20px;
}

.form-wrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: bold;
    padding-top: 25px;
}

#mainPage-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 50px;
    height: 550px;
    border-radius: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#h4 {
    text-align: center;
}


#startingAt {
    color: red;
}

#centered-space {
    color: black;
}

.image-container {
    height: 10px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-below {
     color: black;
     font-size: 20px;
     text-align: center;
     font-family: 'Oswald', sans-serif;
}

.contact-wrapper {
    text-align: center;
}

#contact-header {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 45px;
    font-family: 'Fredoka One';
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}

#email, #phone, #hours {
    font-size: 30px;
    color: white;
}

#products-header {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 45px;
    font-family: 'Fredoka One';
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}

#takeALook {
    font-size: 30px;
    color: white;
    text-align: center;
}

#islandPrice {
    text-align: center;
}
#islandPrice {
    text-align: center;
}

#barnDoorPrice {
    text-align: center;
}

#prices-header {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 45px;
    font-family: 'Fredoka One';
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}