body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
}

#heading {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 45px;
    font-family: 'Fredoka One';
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}

#whatWeDo {
    font-family: 'Dosis';
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

#whatWeDo {
    padding-bottom: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 15px;
}


h3 {
    padding-bottom: 20px;
}

.form-wrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: bold;
    background: white;
    opacity: 0.85 ;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

#mainPage-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 50px;
    height: 550px;
    border-radius: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#h4 {
    text-align: center;
}


#startingAt {
    color: red;
}

#centered-space {
    color: black;
}

.image-container {
    height: 10px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-below {
     color: black;
     font-size: 20px;
     text-align: center;
     font-family: 'Oswald', sans-serif;
}

.contact-wrapper {
    text-align: center;
}

#contact-header {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 45px;
    font-family: 'Fredoka One';
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}

#email, #phone, #hours {
    font-size: 30px;
    color: white;
}

#products-header {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 45px;
    font-family: 'Fredoka One';
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}

#takeALook {
    font-size: 30px;
    color: white;
    text-align: center;
}

#islandPrice {
    text-align: center;
}
#islandPrice {
    text-align: center;
}

#barnDoorPrice {
    text-align: center;
}

#prices-header {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 45px;
    font-family: 'Fredoka One';
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}

#BD-p-header, #island-p-header {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
    
} 

#getQuote {
    color: black;
    font-weight: bold;
}

#price-details{
    font-size: 20px;
    font-weight: bolder;
}

#insntallation {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

/* Iphone X, Iphone 6/7/8 */
@media screen and (max-width: 415px) {
    body, #body-quote {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #heading {
        font-size: 55px;
    }

    .quoteForm {
        width: 300px;

    }

    #getQuote {
        width: 300px;
    }
    .form-wrapper {
        width: 350px;
    }
  }